<header>
    <div class="container-fluid row">
        <nav class="principal col-12">

            <div class="logo">
                <a href="/">
                    <img src="/images/CODE.svg" />
                </a>
            </div>

            <ul class="cursos">
                <li>
                    <a href="#">Cursos<i class="fas fa-angle-down"></i></a>
                </li>
            </ul>

            <div class="buscador">
                <form action="" method="get" class="search-form ">
                    <input type="text" name="search" placeholder="Buscar cursos" class="search-form_input" />
                    <button type="submit" class="search-form_button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>

            <ul class="ingresa">
                <li class="crea">
                    <a href="#">Crear cuenta</a>
                </li>
                <li>
                    <a href="#">Ingresá</a>
                </li>
                <li>
                    <a href="#">Mis cursos</a>
                </li>
                <li>
                    <i class="fas fa-shopping-cart"></i>
                </li>
            </ul>
        </nav>
    </div>
</header>


