<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include("partials/head.ejs") %>
  <!-- HEAD -->

  <body>
    <!-- Header -->
    <%- include("partials/header.ejs") %>
    <!-- /Header -->

    <h1>AÑADIR PRODUCTO</h1>

    
    <!-- FOOTER -->
    <%- include("partials/footer.ejs") %>
    <!-- FOOTER -->
  </body>
</html>
